@using dotnetNewProject.Models
@model List<Player>
 <ul>
    @foreach (Player player in Model)
    {
        <!-- NOTE: TO REMEMBER THIS IN CASE I USE IT AFTER <li>
            @player.FirstName @player.LastName @player.Age
            <hr>

        </li> -->
        <li>    <a asp-action="Profile" asp-route-id="@player.PlayerID">@player.FirstName</a> 
</li>
    } 


     
        @if(TempData["team"] != null)
        {
         <li>
            @TempData["firstName"] 
            @TempData["lastName"] 
            @TempData["age"] 
            @((Teams)TempData["team"])
        </li>
        }
      
    </div> 

        <style>
            table,
            th,
            td {
                border: 1px solid black;
            }
        </style>

        <h1>PLAYERS</h1>

        <table>
            <tr>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>AGE</th>
                <th>Team</th>

            </tr>

            @foreach (var player in Model as IList<Player>)
            {
                <tr>
                    <td>@player.FirstName</td>
                    <td>@player.LastName</td>
                    <td>@player.Age</td>
                    <td>@player.Team</td>
                </tr>
            }
                <tr>
                    <td>@TempData["firstName"]</td>
                    <td>@TempData["lastName"]</td>
                    <td>@TempData["age"]</td>
                    <td>@TempData["team"]</td>
                </tr>

        </table> 