@model Player;
@using registrationForm.Controllers;

@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("Login", "Form", FormMethod.Post))
{
    <div class = "formTitles" >
    @* NOTE: First Name: @Html.TextBoxFor(m => m.FirstName) *@
        First Name:
    </div>

        <div>
            @Html.TextBox("FirstName")
            @Html.ValidationMessage("FirstName")
        </div>

    <div class = ""formTitles"" >
        Last Name:
    </div>

        <div>
            @Html.TextBox("LastName") 
        </div>

     <div class = ""formTitles"" >
        Age:
    </div>

        <div>
            @Html.TextBox("Age")
        </div>

    <div class = ""formTitles"">
        @Html.DropDownListFor(m => m.Team, new List<SelectListItem>
            {new SelectListItem{Text="Creators", Value="1"},
            new SelectListItem{Text="Discovery", Value="2"},
            new SelectListItem{Text="Reach", Value="3"}}, "Select your team")
    </div>
            
    <div>
        <input type="submit" value="Submit" />
    </div>
   
}
