@model Player;
@using registrationForm.Controllers;

@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("Login", "Form", FormMethod.Post))
{
    <div>

    @* NOTE: First Name: @Html.TextBoxFor(m => m.FirstName) *@

        First Name:
            <br>

            @Html.TextBox("FirstName")
            @Html.ValidationMessage("FirstName")
            <br>

        Last Name:
            <br>
            @Html.TextBox("LastName") 
            <br>

        Age:
            <br>
            @Html.TextBox("Age")
            <br>
            <br>

            @Html.DropDownListFor(m => m.Team, new List<SelectListItem>
                   { new SelectListItem{Text="Creators", Value="1"},
                     new SelectListItem{Text="Discovery", Value="2"},
                     new SelectListItem{Text="Reach", Value="3"}}, "Select your team")
            <br>
            <br>

        <input type="submit" value="Submit" />
    </div>
}
